<%- include('includes/head.ejs') %>
  </head>

  <body>
    <%- include('includes/navbar.ejs') %>
    <main>
        <div class="container mt-3">
          <div class="row">
            <div class="col">
              <h2>About</h2>
              <p>Hi, I'm Ben 👋</p>
      
              <p>
                I started my web development journey about one year ago with the help
                of
                <a
                  href="https://www.theodinproject.com"
                  >theodinproject</a
                >
                and I'm currently studying web development at the
                <a
                  href="https://www.technikum-wien.at/"
                  >FH-Technikum Wien</a
                >
              </p>
            </div>
          </div>
        </div>
      </main>
      
      
    <%- include('includes/html-end.ejs') %>


