<%- include('includes/head.ejs') %>
  </head>

  <body>
    <%- include('includes/navbar.ejs') %>
    <main>
        <div class="container mt-3">
            <h2>The Contact Page</h2>
        </div>
    </main>
    <%- include('includes/html-end.ejs') %>


