<%- include('includes/head.ejs') %>
  </head>

  <body class="text-bg-light">
    <%- include('includes/navbar.ejs') %>
<main>
    <div class="container mt-3">
        <h2>The Home Page</h2>
    </div>
</main>
    <%- include('includes/html-end.ejs') %>


